<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./img/1png1.png">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/index.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <title>Monaingel S.A</title>
</head>

<body>
    <!-- header comienzo -->
    <nav class="navbar sticky-top navbar-expand-lg" id="home">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="./img/1png1.png" alt="" srcset=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <!-- <i class="fa fa-bars"></i> -->
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#misionyvision">Misión y Visión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#quienessomos">¿Quiénes Somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#equipo">Nuestro Equipo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#contacto">Contactos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- header fin -->

    <!-- header banner comienzo -->
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="promo-title">MONAINGEL S.A.S.</h1>
                    <p>
                        Es una empresa de Sociedad Anónima Simplificada del sector comercial e industrial dedicada a
                        brindar
                        servicios de instalación y mantenimiento de centrales de energía eléctrica y transformadores,
                        instalaciones de
                        sistemas de iluminación, sistemas de alarma y contra robo, ventas al por mayor de materiales
                        eléctricos,
                        servicios navieros, instalaciones eléctricas industriales y residenciales, servicios de cámaras
                        termográficas
                        e informes.
                    </p>
                    <a class="btn btn-primary boton" href="#quienessomos">Conócenos</a>
                </div>
                <div class="col-md-6 text-center">
                    <img src="./img/home2.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
        </div>
        <img src="./assets/img/wave1.png" class="bottom-img" alt="" srcset="">
    </section>
    <!-- header banner fin -->

    <!-- inicio mision y vision -->
    <section class="container">
        <div class="row align-items-center" id="misionyvision">
            <h2 class="display-4 tex-capitalize text-center mt-5 fontText" data-aos="fade-up">
                Misión y Visión
            </h2>
            <div class="col-12 text-center col-md-6 mt-5">
                <h6 class="p-2 text-MV fontText">Misión</h6>
                <p class="text-muted p-2">
                    Brindar y ofrecer productos eléctricos y electrónicos de alta gama y así suplir las necesidades de
                    nuestros
                    clientes, además de brindar soluciones a través de altos estándares industriales y un modelo integro
                    de
                    gestión
                    empresarial.
                </p>
            </div>
            <div class="col-12 text-center col-md-6 mt-5">
                <h6 class="p-2 text-MV fontText">Visión</h6>
                <p class="text-muted p-2">
                    Ser una empresa líder y competitiva a nivel local y nacional con estándares de calidad
                    internacional,
                    ingeniería
                    con innovación y tecnología de punta, con exigentes políticas calidad.
                </p>
            </div>
        </div>
    </section>
    <!-- fin mision y vision -->

    <!-- linea separadora -->
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-6">
            <hr>
        </div>
    </div>
    <!-- linea separadora -->

    <!-- quioenes somos inicio -->
    <section class="container" id="quienessomos">
        <div class="row align-items-center">
            <!-- <h2 class="display-4 tex-capitalize text-center mt-5" data-aos="fade-up">
        Un poco acerca de mí
      </h2> -->
            <div class="col-12 text-center col-md-6 mt-5">
                <h6 class="p-2 text-MV fontText">¿Quiénes Somos?</h6>
                <p class="text-muted p-2">
                    Somos una empresa que ofrece servicios y productos eléctricos y electrónicos con estándares de
                    calidad
                    en el
                    sector comercial e industrial. Mostrando compromiso y entrega a las solicitudes expuestas de
                    nuestros
                    clientes
                    dando garantía de soluciones de excelencia.
                </p>
            </div>
            <div class="col-12 col-md-6 mt-3 text-center">
                <picture class="">
                    <img src="./img/anton-dmitriev-kBKOaghy8mU-unsplash.jpg" alt="" class="img-fluid imagen">
                </picture>
            </div>
        </div>
    </section>
    <!-- quioenes somos fin -->

    <!-- linea separadora -->
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-6">
            <hr>
        </div>
    </div>
    <!-- linea separadora -->

    <!-- inicio servicios -->
    <section class="container text-center mb-5 mt-4">
        <!-- Inicio Pie de Página -->
        <div class="row justify-content-center" id="servicios">
            <div class="col-12 col-md-6">
                <h2 class="display-4 tex-capitalize fontText">
                    Servicios Empresariales
                </h2>
                <p class="text-muted m-3">
                    Somos una empresa que ofrece servicios y productos eléctricos y electrónicos con estándares de
                    calidad
                    en el
                    sector comercial e industrial. Mostrando compromiso y entrega a las solicitudes expuestas de
                    nuestros
                    clientes
                    dando garantía de soluciones de excelencia.
                </p>

            </div>
        </div>
        <!-- tarjetas -->
        <div class="container justify-content-center">
            <div class="row mt-3">
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card-container shadow-lg">
                        <div class="card card-front">
                            <img class="card-img-top imgCard" src="./img/4662.jpg" alt="alternative">
                            <div class="card-body">
                                <h4 class="card-title">Servicios eléctricos</h4>
                            </div>
                        </div>
                        <div class="card card-back">
                            <div class="card-body text-center">
                                <h4 class="card-title mt-2">Servicios eléctricos</h4>
                                <div class="p-2 text-center">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card-container shadow-lg">
                        <div class="card card-front">
                            <img class="card-img-top imgCard" src="./img/naviero.jpg" alt="alternative">
                            <div class="card-body">
                                <h4 class="card-title">Servicios eléctricos</h4>
                            </div>
                        </div>
                        <div class="card card-back">
                            <div class="card-body text-center">
                                <h4 class="card-title mt-2">Servicios eléctricos</h4>
                                <div class="p-2 text-center">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card-container shadow-lg">
                        <div class="card card-front">
                            <img class="card-img-top imgCard" src="./img/4662.jpg" alt="alternative">
                            <div class="card-body">
                                <h4 class="card-title">Servicios eléctricos</h4>
                            </div>
                        </div>
                        <div class="card card-back">
                            <div class="card-body text-center">
                                <h4 class="card-title mt-2">Servicios eléctricos</h4>
                                <div class="p-2 text-center">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card-container shadow-lg">
                        <div class="card card-front">
                            <img class="card-img-top imgCard" src="./img/naviero.jpg" alt="alternative">
                            <div class="card-body">
                                <h4 class="card-title">Servicios eléctricos</h4>
                            </div>
                        </div>
                        <div class="card card-back">
                            <div class="card-body text-center">
                                <h4 class="card-title mt-2">Servicios eléctricos</h4>
                                <div class="p-2 text-center">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card-container shadow-lg">
                        <div class="card card-front">
                            <img class="card-img-top imgCard" src="./img/4662.jpg" alt="alternative">
                            <div class="card-body">
                                <h4 class="card-title">Servicios eléctricos</h4>
                            </div>
                        </div>
                        <div class="card card-back">
                            <div class="card-body text-center">
                                <h4 class="card-title mt-2">Servicios eléctricos</h4>
                                <div class="p-2 text-center">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card-container shadow-lg">
                        <div class="card card-front">
                            <img class="card-img-top imgCard" src="./img/naviero.jpg" alt="alternative">
                            <div class="card-body">
                                <h4 class="card-title">Servicios eléctricos</h4>
                            </div>
                        </div>
                        <div class="card card-back">
                            <div class="card-body text-center">
                                <h4 class="card-title mt-2">Servicios eléctricos</h4>
                                <div class="p-2 text-center">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card-container shadow-lg">
                        <div class="card card-front">
                            <img class="card-img-top imgCard" src="./img/4662.jpg" alt="alternative">
                            <div class="card-body">
                                <h4 class="card-title">Servicios eléctricos</h4>
                            </div>
                        </div>
                        <div class="card card-back">
                            <div class="card-body text-center">
                                <h4 class="card-title mt-2">Servicios eléctricos</h4>
                                <div class="p-2 text-center">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-4">
                    <div class="card-container shadow-lg">
                        <div class="card card-front">
                            <img class="card-img-top imgCard" src="./img/naviero.jpg" alt="alternative">
                            <div class="card-body">
                                <h4 class="card-title">Servicios eléctricos</h4>
                            </div>
                        </div>
                        <div class="card card-back">
                            <div class="card-body text-center">
                                <h4 class="card-title mt-2">Servicios eléctricos</h4>
                                <div class="p-2 text-center">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                        <li class="list-group-item">
                                            <p>Instalación y mantenimiento de centrales de energía eléctrica y
                                                transformadores.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin trjetas -->
    </section>
    <!-- fin de servicios -->

    <!-- inicio horario -->
    <section class=" mb-5 mt-5 secionhorario">
        <div class="container">
            <div class="row align-items-center" style="height: 500px;">
                <div class="col-12 col-md-6">
                    <figure class="container imagenHorario">
                        <img class="img-fluid" src="./img/testimonials-2-men-talking.svg" alt="">
                    </figure>
                </div>

                <div class="col-12 col-md-6 text-center">
                    <h1 class="textoHorario">Horario de Atención</h1>
                    <br>
                    <h4 class="textoHorario">Lunes a Viernes</h4>
                    <p class="text-muted">08:00 AM a 17:30 PM</p>
                    <h4 class="textoHorario">Sábados</h4>
                    <p class="text-muted">08:00 AM a 14:00 PM</p>
                </div>
            </div>
        </div>
    </section>
    <!-- fin horario -->

    <!-- inicio equipo -->
    <section class="container text-center mb-5 mt-2" id="equipo">
        <!-- Inicio Pie de Página -->
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-md-6">
                <h2 class="display-4 tex-capitalize fontText">
                    Conoce a nuestro equipo
                </h2>
                <p class="text-muted m-3">
                    Contamos con un grupo de jóvenes profesionales, comprometidos con los principios, valores,
                    fundamentos
                    morales y
                    éticos, los cuales aplicamos dentro de la vida diaria y de la organización.
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                <figure class="figure text-center  mb-5">
                    <img src="./img/men.jpeg" class=" img-thumbnail img-fluid rounded imagen" alt="...">
                    <figcaption class="figure-caption">Yandry Moreira.</figcaption>
                    <figcaption class="figure-caption cargo">
                        <p><small>(Cargo?)</small></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                <figure class="figure text-center  mb-5">
                    <img src="./img/woman.jpeg" class=" img-thumbnail img-fluid rounded imagen" alt="...">
                    <figcaption class="figure-caption">Yandry Moreira.</figcaption>
                    <figcaption class="figure-caption cargo">
                        <p><small>(Cargo?)</small></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                <figure class="figure text-center  mb-5">
                    <img src="./img/woman.jpeg" class=" img-thumbnail img-fluid rounded imagen" alt="...">
                    <figcaption class="figure-caption">Yandry Moreira.</figcaption>
                    <figcaption class="figure-caption cargo">
                        <p><small>(Cargo?)</small></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                <figure class="figure text-center  mb-5">
                    <img src="./img/men.jpeg" class=" img-thumbnail img-fluid rounded imagen" alt="...">
                    <figcaption class="figure-caption">Yandry Moreira.</figcaption>
                    <figcaption class="figure-caption cargo">
                        <p><small>(Cargo?)</small></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                <figure class="figure text-center mb-5">
                    <img src="./img/men.jpeg" class=" img-thumbnail img-fluid rounded imagen" alt="...">
                    <figcaption class="figure-caption">Yandry Moreira.</figcaption>
                    <figcaption class="figure-caption cargo">
                        <p><small>(Cargo?)</small></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                <figure class="figure text-center  mb-5">
                    <img src="./img/men.jpeg" class=" img-thumbnail img-fluid rounded imagen" alt="...">
                    <figcaption class="figure-caption">Yandry Moreira.</figcaption>
                    <figcaption class="figure-caption cargo">
                        <p><small>(Cargo?)</small></p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <!-- fin equipo -->

    <!-- linea separadora -->
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-6">
            <hr>
        </div>
    </div>
    <!-- linea separadora -->

    <!-- inicio trabajos -->
    <section class="container text-center mb-5 mt-2" id="trabajo">
        <!-- Inicio Pie de Página -->
        <div class="row justify-content-center mb-5">
            <div class="col-12 col-md-6">
                <h2 class="display-4 tex-capitalize fontText">
                    Tabajos Realizados
                </h2>
                <!-- <p class="text-muted m-3">
          Contamos con un grupo de jóvenes profesionales, comprometidos con los principios, valores, fundamentos morales y
          éticos, los cuales aplicamos dentro de la vida diaria y de la organización.
        </p> -->
            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./img/camara-imagenes-redes-sociales.jpg" class="d-block w-100 imagenCarrusel" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./img/trabajo.png" class="d-block w-100 imagenCarrusel" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./img/trabajo2.png" class="d-block w-100 imagenCarrusel" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- fin trabajos -->


    <!-- linea separadora -->
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-6">
            <hr>
        </div>
    </div>
    <!-- linea separadora -->

    <!-- inicio contacto -->
    <section class="container mb-5 mt-3" id="contacto">
        <!-- Inicio Pie de Página -->
        <div class="row text-center justify-content-center" id="servicios">
            <div class="col-12 col-md-6">
                <h2 class="display-4 tex-capitalize fontText">
                    Información de contacto
                </h2>
                <ul class="list-unstyled li-space-lg">
                    <li class="address text-muted mt-2">No dude en llamarnos o enviarnos un mensaje de formulario de
                        contacto</li>
                    <li class="text-muted mt-1"><i class="fa fa-map-marker-alt"></i>Manta, Manabí, Ecuador. Calle 8
                        Avenida
                        24,
                        Barrio La dolorosa</li>
                    <li class="text-muted mt-1"><i class="fa fa-phone"></i> +593958767262 - 052577534 </li>
                    <li class="text-muted mt-1"><i class="fa fa-envelope"></i> monaingelsas@gmail.com </li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-md-6">
                <div class="map-responsive">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.2648935924467!2d-80.73011558546182!3d-0.9543246993038409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be12a9d801a65%3A0xe6d964c83272f564!2sCalle%208%20avenida%2024!5e0!3m2!1ses!2sec!4v1661817689467!5m2!1ses!2sec"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <!-- (ngSubmit)="guardar()"[formGroup]="miFormulario" -->
                <!-- action="https://formsubmit.co/monaingelsas@gmail.com" method="POST" -->
                <!-- (ngSubmit)="onSubmit(contactoForm.value)" -->
                <!-- #contactoForm="ngForm" -->
                <form id="form" action="https://formsubmit.co/monaingelsas@gmail.com" method="POST">
                    <div class="form-group form-floating mb-3">
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
                        <!-- [(ngModel)]="model.nombre" -->
                        <label for="floatingInput">Nombre</label>
                        <!-- <span *ngIf="campoEsValido('nombre')" class="form-text text-danger">No dejar vacio este campo</span> -->
                    </div>
                    <div class="form-group form-floating mb-3">
                        <input type="tel" class="form-control" id="telefono" name="telefono"
                            placeholder="Número de teléfono" maxlength="10" required>
                        <!-- [(ngModel)]="model.telefono" -->
                        <label for="floatingInput">Teléfono</label>
                        <!-- <span *ngIf="campoEsValido('telefono')" class="form-text text-danger">No dejar vacio este campo</span> -->
                    </div>
                    <div class="form-group form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        <!-- [(ngModel)]="model.email" -->
                        <label for="floatingInput">Email</label>
                        <!-- <span *ngIf="campoEsValido('email')" class="form-text text-danger">No dejar vacio este campo</span> -->
                    </div>
                    <div class="form-group form-floating mb-3">
                        <textarea class="form-control" id="mensaje" name="mensaje" rows="6" placeholder="Mensaje"
                            required></textarea>
                        <!-- [(ngModel)]="model.mensaje" -->
                        <label for="floatingInput">Mensaje</label>
                        <!-- <span *ngIf="campoEsValido('mensaje')" class="form-text text-danger">No dejar vacio este campo</span> -->
                    </div>
                    <input type="submit" class="btn form-control-submit-button" id="enviar" value="Enviar">
                    <input type="hidden" name="_next" value="http://monaingel.com/">
                    <input type="hidden" name="_captcha" value="false">
                </form>
            </div>
        </div>
    </section>

    <!-- fin contacto -->

    <!-- boton flotante -->
    <div class="float-end flecha">
        <div class="pt-4 pl-4">
            <a class="btn btn-primary" style="background-color: #131F33;" href="#"><i
                    class="fa fa-arrow-circle-up"></i></a>
        </div>
    </div>
    <!-- fin boton flotante -->

    <!-- inicio footer -->
    <footer class=" bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #131F33;"
                    href="https://www.facebook.com/profile.php?id=100084471687241" role="button" target="_blank"><i
                        class="fa fa-facebook-f"></i></a>
                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #131F33;"
                    href="https://twitter.com/monaingel" role="button" target="_blank"><i class="fa fa-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #131F33;"
                    href="https://www.instagram.com/monaingelsas/" role="button" target="_blank"><i
                        class="fa fa-instagram"></i></a>
                <!-- Whatsaap -->
                <a class="btn btn-primary btn-floating m-1" style="background-color: #131F33;"
                    href="https://api.whatsapp.com/send?phone=593958767262" role="button" target="_blank"><i
                        class="fa fa-whatsapp"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3 nombre">
            &copy; 2022 Monaingel S.A. - Todos los derechos reservados.
        </div>
        <!-- Copyright -->
    </footer>
    <!-- fin footer -->
</body>

</html>